
<h1>EDIT PAGE</h1>
​
<%= form_for @sighting do |f| %>
​
 <%=f.hidden_field :animal_id%>
​
  <h4>Date</h4>
  <%= f.text_field :date %></br>
​
  <h4>Time</h4>
  <%= f.text_field :time %></br>
​
  <h4>Latitude</h4>
  <%= f.text_field :latitude %></br>
​
  <h4>Longitude</h4>
  <%= f.text_field :longitude %></br>
​
<%= f.submit %>
​
<%if @errors%>
 <%@errors.each do |errors| %>
  <p><%=errors%></p>
 <%end%>
<%end%>
​
<%end%>